.advantage__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.advantage__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  display: block;
  margin-bottom: 30px;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage__item {
  padding-left: 80px;
  margin-bottom: 26px;
}

.advantage__description {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  position: relative;
  &::before {
    content: '';
    background-color: #68b738;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2px;
    left: -80px;
    background-image: url('../../img/advantage-leaf@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantage__description--powder {
  &::before {
    background-image: url('../../img/advantage-powder@1x.png');
  }
}

.advantage__description--meal {
  &::before {
    background-image: url('../../img/advantage-dining@1x.png');
  }
}

.advantage__description--time {
  &::before {
    background-image: url('../../img/advantage-clock@1x.png');
  }
}

@media (min-width: @tablet-width) {
  .advantage__container {
    width: 768px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #e6e6e6;
  }
  .advantage__title {
    font-size: 60px;
    margin-bottom: 75px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: advantage;
  }

  .advantage__item {
    width: 50%;
    padding-top: 116px;
    padding-bottom: 55px;
    padding-left: 0;
    margin: 0;
    position: relative;
    &::after {
      position: absolute;
      top: -41px;
      left: 150px;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      color: #f2f2f2;
      counter-increment: advantage;
      content: counter(advantage);
    }
  }

  .advantage__description {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    &::before {
      width: 80px;
      height: 80px;
      top: -118px;
      left: 0;
    }
  }
}
