.example__container {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding-top: 17px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 23px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 25px;
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 33px;
}

.example__indicator {
  width: 123px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 13px;
  padding-bottom: 17px;
  position: relative;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.example__definition {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  text-transform: lowercase;
  display: block;
  width: 87px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  position: absolute;
  bottom: -16px;
  left: 17px;
  background-color: #f2f2f2;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 34px;
  width: 100%;
}

.example__slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.example__slide-before {
  width: 100%;
  min-height: 240px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 240px;
  background-position-x: center;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
  }
}

.example__toggle {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 33px;
  padding-right: 39px;
  padding-left: 44px;
}

.example__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  background-color: transparent;
  text-transform: uppercase;
  padding: 0;
  border: none;
}

.example__range {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  padding: 5px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.example__runner {
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: #68b738;
}

@media (min-width: @tablet-width) {
  .example__container {
    width: 768px;
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 43px;
    padding-right: 30px;
    padding-bottom: 74px;
    padding-left: 30px;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .example__result {
    margin-bottom: 86px;
    align-items: center;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    padding-right: 6px;
  }

  .example__indicator {
    width: 162px;
    padding-top: 14px;
    padding-bottom: 19px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__definition {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    padding: 0 9px;
    bottom: -6px;
    left: 24px;
    background-color: #ffffff;
  }

  .example__definition--time {
    left: 10px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 28px;
    width: 175px;
    text-align: right;
    margin-top: 0;
    margin-left: auto;
  }

  .example__slider {
    padding-right: 56px;
    padding-left: 16px;
  }

  .example__slide-before {
    width: 338px;
    height: 517px;
    background-image: url("../img/before-tablet@1x.png");
    background-size: 690px 517px;
    background-position-x: 0;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .example__slide-after {
    width: 298px;
    height: 517px;
    background-image: url("../img/after-tablet@1x.png");
    background-size: 690px 517px;
    background-position-x: -338px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
    }
  }

  .example__toggle {
    margin-top: 20px;
    padding-right: 14px;
    padding-left: 52px;
  }

  .example__button {
    font-size: 20px;
  }

  .example__range {
    width: 428px;
    height: 6px;
    padding: 0;
    border-radius: 2px;
    background-color: #dcdcdc;
    margin-right: 21px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
  }

  .example__runner {
    width: 34px;
    height: 34px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: 12px;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid #68b738;
      
      &::before {
        top: 11px;
        left: 11px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to right, #f2f2f2 50%, #ebebeb 50%);
    position: relative;

    &::before {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 208px;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .example__container {
    display: flex;
    width: 1300px;
    padding-top: 18px;
    padding-bottom: 70px;
    padding-left: 40px;
    background: linear-gradient(to right, #f2f2f2 75%, #ebebeb 75%);
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 208px;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .example__wrap {
    width: 570px;
  }

  .example__title {
    margin-bottom: 146px;
    padding-top: 55px;
  }

  .example__description {
    width: 440px;
    margin-bottom: 68px;
  }

  .example__result {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .example__definition {
    background-color: #f2f2f2;
  }

  .example__cost {
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    text-align: left;
  }

  .example__cost-text {
    margin-right: 60px;
  }

  .example__slider {
    width: 636px;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
  }

  .example__slide-before {
    width: 341px;
    background-image: url("../img/before-desktop@1x.png");
    background-position-x: -24px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .example__slide-after {
    width: 271px;
    background-image: url("../img/after-desktop@1x.png");
    background-position-x: -365px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
    }
  }

  .example__slide--full {
    width: 100%;
    background-position-x: center;
  }

  .example__slide--closed {
    display: none;
  }

  .example__toggle {
    width: 100%;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 56px;
    margin-top: 0;
  }

  .example__button {
    border-bottom: 1px dotted #bfbfbf;
    padding-bottom: 6px;

    &:hover {
      border-bottom-style: solid;
      border-bottom-color: rgba(242, 242, 242, 0.4);
    }
  }
}
