.example__container {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url('../../img/before-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: center bottom 86px;
  padding-top: 17px;
  padding-bottom: 360px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 23px;
}

.example__description {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 25px;
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__indicator {
  width: 123px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 13px;
  padding-bottom: 17px;
  position: relative;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.example__definition {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  text-transform: lowercase;
  display: block;
  width: 87px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  position: absolute;
  bottom: -16px;
  left: 17px;
  background-color: #f2f2f2;

}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 34px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .example__container {
    width: 768px;
    background-image: url('../../img/before-tablet@1x.png');
    background-position: center bottom 84px;
    margin: 0 auto;
    padding-top: 43px;
    padding-left: 30px;
    padding-bottom: 687px;
    padding-right: 30px;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 64px;
  }

  .example__result {
    align-items: center;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    padding-right: 6px;
  }

  .example__indicator {
    width: 162px;
    padding-top: 14px;
    padding-bottom: 19px;
    &:first-child {
      margin-right: 42px;
    }
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__definition {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    padding: 0 9px;
    bottom: -6px;
    left: 24px;
  }

  .example__definition--time {
    left: 10px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 28px;
    width: 175px;
    text-align: right;
    margin-top: 0;
    margin-left: auto;
  }
}
