.extra__container {
  width: 100%;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  position: relative;

  &::before {
    content: "";
    width: 200vw;
    height: 3px;
    background-color: #68b738;
    position: absolute;
    top: 42px;
    left: -100vw;
  }
}

.extra__title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 34px;
  padding-right: 23px;
  position: relative;
  background-color: #ffffff;
  
  &::before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    left: -20px;
  }
}

.extra__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #cdcdcd;
}

.extra__item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
}

.extra__title-item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.extra__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.extra__price {
  text-transform: uppercase;
}

.extra__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.extra__item--gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;
  background-position: center top;
  background-color: #64a83b;
  padding-top: 64px;
  padding-bottom: 43px;
  border-bottom: none;
  margin-top: 39px;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.extra__description--gift {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 165px;
  text-align: center;
  margin: 0 auto;
}

.extra__logo {
  display: block;
  width: 55px;
  height: 60px;
  fill: #ffffff;
  margin: 0 auto;
  margin-bottom: 62px;
}


@media (min-width: @tablet-width) {
  .extra__container {
    width: 768px;
    padding-right: 30px;
    padding-bottom: 69px;
    padding-left: 30px;

    &::before {
      top: 50px;
    }
  }

  .extra__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-right: 37px;
    padding-left: 37px;
    
    &::before {
      display: none;
    }
  }

  .extra__list {
    border-top: none;
  }

  .extra__item {
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 26px;
    padding-left: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: none;
    border: 1px solid #e6e6e6;
  }

  .extra__title-item {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .extra__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .extra__quantity {
    margin-right: 50px;
  }

  .extra__link {
    width: 100%;
    margin-top: 22px;
  }

  .extra__item--gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 708px 200px;
    background-color: #ffffff;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 75px;
    border: none;
    margin-top: 70px;
    align-items: center;
    justify-content: flex-start;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .extra__logo {
    margin: 0;
    margin-left: 91px;
    margin-top: -14px;
    margin-right: 277px;
  }

  .extra__description--gift {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .extra__container {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-right: 40px;
    padding-bottom: 86px;
    padding-left: 40px;

    &::before {
      top: 58px;
    }
  }

  .extra__title {
    padding-left: 37px;
    margin-left: -40px;
  }

  .extra__list {
    width: 895px;
  }

  .extra__item {
    padding-top: 16px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 1px;
    border: none;
    border-bottom: 1px solid #e6e6e6;

    &:first-child {
      border-top: 1px solid #e6e6e6;
    }
  }

  .extra__title-item {
    flex-grow: 1;
  }

  .extra__description {
    width: 287px;
    display: flex;
    justify-content: space-between;
    margin-right: 38px;
    padding-top: 8px;
  }

  .extra__link {
    margin-top: 0;
    width: auto;
    padding-right: 92px;
    padding-left: 91px;
  }

  .extra__item--gift {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;
    display: block;
    width: 245px;
    min-height: 289px;
    margin-top: 0;
    padding-top: 65px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .extra__logo {
    margin: 0 auto;
    margin-bottom: 62px;
  }

  .extra__description--gift {
    width: 184px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}
