.footer__container {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer__cooperation {
  display: flex;
  background-color: #ffffff;
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.footer__cooperation--grey {
  background-color: #f2f2f2;
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-right: 18px;
}

.footer__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  font-style: normal;
}

.footer__map {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 400px;
  background-position: center -38px;
  min-height: 362px;
}

.footer__bottom {
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 24px;
}

.footer__link-main {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__main-logo {
  width: 128px;
  height: 25px;
}

.footer__list {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 73px;
  padding-right: 74px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link-social {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .footer__logo {
    fill: #68b738;
  }

  &:active .footer__logo {
    opacity: 0.3;
  }
}

.footer__logo {
  fill: #666666;
}

.footer__link-copyright {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .footer__logo--academy {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo--academy {
  width: 40px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .footer__container {
    width: 100%;
    margin: 0 auto;
  }

  .footer__cooperation {
    padding: 65px 72px 58px;
    justify-content: space-between;
  }

  .footer__title {
    font-size: 20px;
    line-height: 25px;
    width: 160px;
    margin-right: 0;
  }

  .footer__address {
    font-size: 16px;
    width: 160px;
    text-align: right;
  }

  .footer__city {
    display: block;
    margin-top: 19px;
  }

  .footer__map {
    background-image: url("../img/map-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: center -4px;
    min-height: 396px;
  }

  .footer__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 54px 30px;
  }

  .footer__link-main {
    margin: 0;
    padding-top: 5px;
  }

  .footer__list {
    border: none;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__item {
    margin-right: 28px;
  }

  .footer__logo--vk {
    width: 30px;
    height: 16px;
  }

  .footer__logo--insta {
    width: 23px;
    height: 23px;
  }

  .footer__logo--fb {
    width: 14px;
    height: 28px;
  }

  .footer__link-text {
    position: relative;
    left: -10px;
  }
  
  .footer__logo--academy {
    position: relative;
    left: 6px;
  }
}

@media (min-width: @desktop-width) {
  .footer__container {
    width: 100%;
    position: relative;
  }

  .footer__map {
    background-image: url("../img/map-desktop.jpg");
    background-size: cover;
    background-position: top;
    width: 100%;
    min-height: 400px;
  }

  .footer__address-container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }
  
  .footer__cooperation {
    width: 570px;
    background-color: #ffffff;
    padding-top: 66px;
    padding-right: 90px;
    padding-bottom: 59px;
    padding-left: 76px;
    position: absolute;
    top: 95px;
    left: 40px;
    z-index: 2;
  }

  .footer__address {
    margin-top: -3px;
    padding-left: 5px;
    text-align: left;
  }

  .footer__bottom {
    width: 1300px;
    margin: 0 auto;
    padding: 54px 40px 64px;
  }

  .footer__list {
    margin-right: auto;
    margin-left: auto;
  }
}
