.footer__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #f2f2f2;
}

.footer__cooperation {
  display: flex;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.footer__address {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  font-style: normal;
}

.footer__map {
  background-image: url('../../img/bg-map-mobile@1x.png');
  background-repeat: no-repeat;
  background-size: 320px 400px;
  min-height: 400px;
}

.footer__bottom {
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
}

.footer__link-main {
  display: block;
  margin-bottom: 32px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 74px;
  padding-right: 84px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__item {
  display: flex;
}

.footer__logo-social {
  width: 30px;
  height: 26px;
  fill: #666666;
}
