.header__container {
  width: 100%;
  margin: 0 auto;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__toggle {
  width: 24px;
  height: 2px;
  background-color: #222222;
  border: none;
  padding: 0;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 24px;
    height: 2px;
    background-color: #222222;
    position: absolute;
    top: -8px;
    left: 0;
  }

  &::after {
    top: 8px;
  }
}

@media (min-width: @tablet-width) {
  .header__container {
    width: 768px;
    margin: 0 auto;
    border-bottom: none;
    display: flex;
    padding: 18px 30px;
  }

  .header__top {
    margin-right: auto;
  }

  .header__toggle {
    display: none;
  }

  .header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .header__container {
    width: 1300px;
    padding-top: 48px;
    padding-bottom: 0;
    padding-right: 40px;
    padding-left: 40px;
    background: transparent;
  }

  .header__logo-image {
    width: 202px;
    height: 60px;
  }
}
