.intro__container {
  background-image: url('../../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
}

.intro__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
}

.intro__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.intro__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  display: block;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}
